%% -*- erlang -*-
{package_name, "simplox"}.
{package_install_name, "simplox"}.
{package_shortdesc, "Concurrency made simple"}.
{package_install_user, "simplox"}.
{package_install_group, "simplox"}.
{copyright, "2013 Eric Moritz"}.
{license_type, "BSD"}.
{vendor_name, "Eric Moritz"}.
{vendor_url, "http://github.com/ericmoritz"}.
{vendor_contact_name, "Eric Moritz"}.
{vendor_contact_email, "eric@themoritzfamily.com"}.
{solaris_pkgname, "EAMSimplox"}.
