{deps, [
       {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {tag, "0.9.0"}}},
       {apptools, ".*", {git, "https://github.com/ericmoritz/apptools.git", {tag, "1.2"}}},
       {fn, ".*", {git, "https://github.com/reiddraper/fn.git", {tag, "0.3.0"}}}
       %{protobuffs, "0.8.*", {git, "git://github.com/basho/erlang_protobuffs.git", {tag, "0.8.1p3"}}}
]}.

{src_dirs, ["./priv/www/proto/"]}.
