{deps, [
       {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {tag, "0.9.0"}}},
       {apptools, ".*", {git, "https://github.com/ericmoritz/apptools.git", {tag, "1.2"}}},
       {fn, ".*", {git, "https://github.com/reiddraper/fn.git", {tag, "0.3.0"}}},
       {folsom, "0.7.4p4", {git, "git://github.com/basho/folsom.git", {tag, "0.7.4p4"}}},
       {lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "2.0.1"}}},
       {protobuffs, "0.8.*", {git, "git://github.com/basho/erlang_protobuffs.git", {tag, "0.8.1p3"}}},
       {lhttpc, ".*", {git, "https://github.com/esl/lhttpc.git", {tag, "1.2.6"}}}
]}.

{parse_transform, lager_transform}.
{src_dirs, ["./priv/www/proto/"]}.
